# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore kotlin compile stuff
.kotlin/sessions

# ignore built artifacts
lib/src/main/resources/libooniprobe.dylib
